<!doctype html>
<title>Logs</title>
{% if database %}
  <h1>Database = {{ database }}!</h1>
{% else %}
  <h1>Using Default</h1>
{% endif %}

{% for log in all_logs %}
<h2>{{ log.name}}</h2>

<table>
</table>

<p>{{ log.etherContent }} <strong style="color: red;">({{ log.etherContentLength }})</strong></p>
<p>{{ log.communeContent }} <strong style="color: red;">({{ log.communeContentLength }})</strong></p>
<p>{{ log.academicContent }} <strong style="color: red;">({{ log.academicContentLength }})</strong></p>
<p>{{ log.emotionContent }} <strong style="color: red;">({{ log.emotionContentLength }})</strong></p>
<p>{{ log.physicContent }} <strong style="color: red;">({{ log.physicContentLength }})</strong></p>
{% endfor %}