<div>New User</div>
<h6>For creating info about a specific user</h6>
<br>

<h1>Database = {{ database }}!</h1>

<hr>

<!--Make the form insert something into mongo-->
<!--
http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-iii-web-forms

--
Use that link to make a form with python
-->
<form action="create" method="post">
    <div>
        <p>Type something: </p>
        <input type="text" value="foo">
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
    
</form>